body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

:root {
  --primary-brand-color: #4d5ae5;
  --presed-state-color: #404bbf;
  --succes-color: #31d0aa;
  --dark-text-color: #2e2f42;
  --primary-text-color: #434455;
  --accent-color: #e7e9fc;
  --primary-white-color: #fff;
  --light-mode-color: #f4f4fd;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*----- HEADER -----*/

.header-logo {
  color: var(--primary-brand-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  color: var(--dark-text-color);
}

.header-menu-item {
  color: var(--dark-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.header-menu-link {
  color: var(--dark-text-color);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: var(--presed-state-color);
  text-decoration: underline;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-mail,
.header-contacts-phone {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.header-address-link {
  color: var(--primary-text-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--presed-state-color);
  text-decoration: underline;
}

/*----- MAIN SECTION -----*/

.main-section {
  background-color: var(--dark-text-color);
}

.main-section-title {
  color: var(--primary-white-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  flex-shrink: 0;
}

.main-section-button {
  color: var(--primary-white-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--primary-brand-color);
  cursor: pointer;
}

.main-section-button:hover,
.main-section-button:focus {
  background: var(--presed-state-color);
}

/*----- ADVANTAGES -----*/

.advantages-subtitle {
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-item-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----- PRODUCTS -----*/

.products-title {
  color: var(--dark-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

/*----- TEAM -----*/

.team {
  background: var(--light-mode-color);
}
.team-title {
  color: var(--dark-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-list-item {
  background-color: var(--primary-white-color);
}

.team-list-name {
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-list-position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----- FOOTER -----*/

.footer {
  background-color: var(--dark-text-color);
}

.footer-logo {
  color: var(--primary-brand-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-accent {
  color: var(--light-mode-color);
}

.footer-text {
  color: var(--light-mode-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----- PORTFOLIO FILTERS -----*/

.portfolio-filter-btn {
  border: 1px solid var(--accent-color);
  background: var(--light-mode-color);
  cursor: pointer;
  color: var(--primary-brand-color);
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  background-color: var(--primary-brand-color);
  color: var(--primary-white-color);
}

/*----- PORTFOLIO PROJECTS -----*/

.portfolio-project-item {
  border: 1px solid var(--accent-color);
  background: var(--primary-white-color);
}

.portfolio-project-subtitle {
  color: var(--dark-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-project-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
